body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  margin-bottom: 30px; /* Moved from outside any block */
}

header {
  background-color: #2A4C6B; /* Darker blue color for header */
  color: #fff; /* Text color for better readability */
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-center {
  margin: 0 auto;
}

main {
  padding: 20px;
  margin: 0 auto; /* Center the main content horizontally */
  max-width: 800px; /* Adjust the max-width as needed */
}

main > h2, 
main > h3 {
  text-align: center;
  margin: 0; /* Remove default margins */
}

.tab-button {
  background-color: #f0f0f0; /* Lighter grey color for tab buttons */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;

  /* Added by zaynin */
  background-color: transparent;           /* Transparent background */
  font-family: 'Corbel', sans-serif;       /* Corbel Font */
  font-weight: bold;                       /* Bold font */
  font-size: 22px;
  color: #CCCCCC;                            /* Font color */
  
}

/* Active tab button style */
.tab-button.active {
  background-color: #ccc; /* Slightly darker grey for active tab button */
}

/* Style for the tab content */
.tab-content {
  display: none;
  padding: 20px;
  background-color: #f0f0f0; /* Lighter grey color for tab content */
}

/* Show the active tab content */
.tab-content.active {
  display: block;
}

footer {
  background-color: #2A4C6B; /* Darker blue color for footer */
  color: #fff; /* Text color for better readability */
  text-align: center;
  padding: 2px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 14px;

  /* Added by Zaynin */
  font-family: 'Calibri', sans-serif;       /* Calibri Font */
  font-weight: bold;                       /* Bold font */
  font-size: 16px;
  color: white;       
}

form {
  display: flex;
  align-items: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.madz_logo
{
  position: absolute;
  z-index: 100;
  top: 4px;
  left: 5px;
  width: 150px;
  height: 58px;
  cursor: pointer; /* Set to pointer cursor to tell user that this is clickable */
  
}

.questions-container{
    max-width: 800px;
    max-height: 1000px;
    margin: 0 auto;
}

.question {
  border-bottom: 1px solid #fff;
  text-align:left;
}

.question button {
  width: 100%;
  background-color: #f0f0f0;
  display: flex;
  justify-content: flex-start; /* Align text to the left */
  align-items: center;
  padding: 20px 15px;
  border: none;
  outline: none;
  font-size: 22px;
  color: #000;
  font-weight: 700;
  cursor: pointer;
}

.question button .d-arrow {
  margin-left: auto; /* Align the arrow logo to the right */
}

.question button span {
  display: block; /* Ensure spans behave as block-level elements */
  text-align: left; /* Left align the text */
}

.question p {
  font-size: 18px;
  max-height: 0;
  opacity: 0;
  line-height: 1.5;
  overflow: hidden;
  transition: all 0.6s ease;
}

/* Hide the answer (p) by default */
    .answer {
        display: none;
    }
    /* When the .show class is added, display the answer */
    .answer.show {
        display: block;
    }

.d-arrow {
  transition: transform 0.5s ease-in;
  color: #000; /* Change arrow color to black */
}

/* Add this class when click */
.question p.show {
  max-height: 200px;
  opacity: 1;
  padding: 0px 15px 30px 15px;
}

.question button .d-arrow.rotate {
  transform: rotate(180deg);
}

.input-wrapper {
    position: relative;
}

input[type="text"] {
    padding-right: 25px; /* Adjust as needed to make space for the icon */
}

.clear-icon {
    position: absolute;
    top: 50%;
    right: 1px;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
}

/* Optional: Style the "X" icon */
.clear-icon:hover {
    color: red;
}

/* CSS Aspects for Request */

.form-container {
  height: auto;
  }
  form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      font-size: 18px;
      padding: 20px 10px;
  }
  label {
      margin-bottom: 10px;
  }
  input[type="text"] {
      width: calc(100% - 10px);
      padding: 3px;
      font-size: 16px;
  }
  input[type="submit"] {
      grid-column: span 2;
      padding: 10px 20px;
      background-color: #2A4C6B; 
      color: #fff;
      font-size: 18px;
  }
  input[type="reset"]
  {
	  grid-column: span 2;
      padding: 10px 20px;
      background-color: #2A4C6B; 
      color: #fff;
      font-size: 18px; 
  }
  input[type="submit"]:hover { /*Added by David */
    background-color: #555; /* Change color on hover */
  }
  .required::after {
      content: "*";
      color: red;
      margin-left: 5px;
  }
  #professor_note {
      width: calc(100% - 10px); /* Adjust the width as needed */
      height: 100px; /* Set the height of the textarea */
      padding: 5px;
      font-size: 16px;
  }

 .input-wrapper {
    position: relative;
    display: inline-block;
  }

  .clear-button {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

/* Optional: Style the "X" icon */
.clear-button:hover {
  color: red;
}

/* Center form on the page */
.login-container {
  max-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* Input containers: stack labels and inputs vertically */
.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; /* Space between each label-input pair */
}

/* Inputs style */
input[type="email_text"], input[type="pass_text"] {
  width: 100%; /* Ensure the input takes full width */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px; /* Space between label and input */
  box-sizing: border-box; /* Ensure padding is included in width */
}

/* Labels style */
label {
  font-size: 16px;
  margin-bottom: 5px; /* Space below label */
}

/* Input focus styling */
input:focus {
  border-color: #333;
  outline: none;
}

/* Submit button style */
input[type="button"] {
  padding: 15px;
  background-color:  #2A4C6B; 
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
}

input[type="button"]:hover {
  background-color: #555; /* Change color on hover */
}

/*Makes dropdown look good*/


#department_dropdown,
#semester_dropdown,
#courses_dropdown{
  padding: 1px;
  background-color: #2A4C6B; 
  text-align: left; 
  color: #fff; 
  font-size: 16px; 
  cursor: pointer; 
}

#new_student_department_dropdown,
#new_student_semester_dropdown,
#new_student_courses_dropdown,
#remove_student_department_dropdown,
#remove_student_semester_dropdown,
#remove_student_courses_dropdown,
#facrank,
#create_department_dropdown
{
  background-color: #2A4C6B; 
  text-align: left; 
  color: #fff; 
  font-size: 14px; 
  cursor: pointer; 
}

/*lights up when highlighted*/
#department_dropdown:hover,
#courses_dropdown:hover{
  border-color: #4198e9;
  outline: none;
} 

/* General styles for the account container */
.account-containertwo {
    max-width: 600px; /* Optional: Set a max width for the container */
    margin: 0 auto; /* Center the container */
}

/* Styling for each dropdown and input field container */
.account-containertwo div {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Align items vertically */
    margin-bottom: 20px; /* Space between lines */
}

/* Styling for labels */
.account-containertwo label {
    width: 200px; /* Fixed width for labels */
    margin-right: 15px; /* Space between label and input */
    font-weight: bold; /* Make labels bold for better visibility */
}

/* Styling for dropdowns and inputs */
.account-containertwo select,
.account-containertwo input[type="date"] {
    flex: 1; /* Make the dropdowns and inputs take available space */
    padding: 10px; /* Add padding for better appearance */
    font-size: 16px; /* Increase font size */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 4px; /* Rounded corners */
    box-sizing: border-box; /* Include padding and border in element's total width */
}

#courseDropdown,
#semesterDropdown {
  margin-top: 12px;
  padding: 6px;
  background-color: #2A4C6B; 
  text-align: center; 
  color: #fff; 
  font-size: 16px; 
  cursor: pointer;
}

#courseDropdown:hover,
#semesterDropdown:hover {
  border-color: #4198e9;
  outline: none;
}

#calendarBackContainer,
#backButtonContainer,
#semesterButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calendarBackButton,
#rosterBackButton,
#semBackButton,
#backButton,
#semesterSubmit,
#fetchRosterButton,
#resetPasswordButton {
    font-size: 20px;
    color: white;
    background-color: #2A4C6B;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 12px;
    padding: 12px 25px;
    width: 100%;
}

#rosterBackButton:hover,
#calendarBackButton:hover,
#semBackButton:hover,
#backButton:hover,
#semesterSubmit:hover,
#fetchRosterButton:hover,
#resetPasswordButton:hover {
    background-color: #0056b3;
}

table,
tr > * {
  border: 1px solid;
  text-align: center;
  margin: 0 auto;
}

table,
th > * {
  padding: 12px;
}

/* Button styling */
#download_csv {
    margin-top: 20px; /* Add margin above the button */
    padding: 10px 20px; /* Add padding for better appearance */
    font-size: 16px; /* Font size for the button */
    border: none; /* Remove border */
    background-color: #2A4C6B; /* Button background color */
    color: white; /* Text color */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Change cursor on hover */
}

/* Button hover effect */
#download_csv:hover {
    background-color: #0056b3; /* Darken the button on hover */
}


/* ================================================================== */
/* ================================================================== */
/* ================================================================== */
/* ZAYNIN OCT 12 2024 - BETTER HEADER */
/* NEW HEADER */
.header-master-box
{
	width: 100%;
	aspect-ratio: 1920/90;
	
	/* margin: 2% auto; */
	display: flex;
	flex-direction: row;
	gap: 0%; /* Space between rows */
	/*border: 2px solid red; /* Uncomment this to see the master header bounding box on the screen */
	padding: 0px;
	background-color: #2A4C6B;
	position: relative;
	
}

/* Separates header cols */
.header-col
{
	display: flex;
	flex-direction: column;
	gap: 10%;
	width: 33.33%;
	/*border: 2px solid #00FF21; /* Uncomment this to see each header column bounding box on the screen */
	
}

/* A sub-section of header-col3-tab-buttons. Stores all of the header-buttons */
.header-col-sub
{
	display: flex;
	width: 100%;
	/*border: 2px solid #FF00DC; /* Uncomment this to see each header button bounding box on the screen */
	height: 100%;
	flex-direction: row;
	gap: 2%;
}

/* Buttons in header */
.header-button
{
	cursor: pointer;
	/*aspect-ratio: 1/1;*/
	
	/* Center */
	margin-left: auto;
	margin-right: auto;
	
	text-align: center;
	padding-top: 4%;
	
	font-family: 'Corbel', sans-serif;
	font-weight: bold;
	font-size: calc(40% + 1vw); /* Dynamically scaling font size */
	color: #CCCCCC;
	/*border: 2px solid yellow; /* Uncomment this to see each header button bounding box on the screen */
}

/* EXTRA STUFF */
.madz-logo-v2
{
	cursor: pointer;
	padding-top: 2%;
	padding-left: 4%;

	
}

/* =========================================================================== */
/* CUSTOM HEADER VARIABLES BASED ON PAGE */
#header-col1-madz-logo { width: 11%; }

/* ================== */
/* INDEX.HTML */
#header-col2-left-gap { width: 20%; }
#header-col3-tab-buttons {width: 38%;}
#header-col4-right-gap { width: 31%; }

/* Make each tab button take up an equal portion of the header-col-sub */
/* If we add a button in the future, make the widths equal 100% */
#home_button { width: 20%; }
#faq_button { width: 20%; }
#about_button { width: 20%; }
#request_button { width: 20%; }
#sign_in_button { width: 20%; }
/* ================== */

/* ================== */
/* PROFESSOR PAGE */
#header-col2-left-gap-PROFESSOR { width: 31%; }
#header-col3-tab-buttons-PROFESSOR {width: 16%;}
#header-col4-right-gap-PROFESSOR { width: 26%; }
#header-col5-extra-buttons-PROFESSOR { width: 15%; }

/* Make each tab button take up an equal portion of the header-col-sub */
/* If we add a button in the future, make the widths equal 100% */
#welcome_button_PROFESSOR { width: 50%; padding-top: 9%; }
#classes_button_PROFESSOR { width: 50%; padding-top: 9%; }

#help_button_PROFESSOR { width: 25%; padding-top: 10%; }
#account_button_PROFESSOR { width: 25%; padding-top: 10%; }
#notification_button_PROFESSOR { width: 25%; padding-top: 10%; }
#log_out_button_PROFESSOR { width: 25%; padding-top: 10%; }

/* ================== */
/* CHAIR PAGE */
#header-col2-left-gap-CHAIR { width: 22%; }
#header-col3-tab-buttons-CHAIR {width: 30%;}
#header-col4-right-gap-CHAIR { width: 21%; }
#header-col5-extra-buttons-CHAIR { width: 15%; }

/* Make each tab button take up an equal portion of the header-col-sub */
/* If we add a button in the future, make the widths equal 100% */
#welcome_button_CHAIR { width: 33.33%; padding-top: 5%; }
#my_classes_button_CHAIR { width: 33.33%; padding-top: 5%; }
#dept_classes_button_CHAIR { width: 33.33%; padding-top: 5%; }

#help_button_CHAIR { width: 25%; padding-top: 10%; }
#account_button_CHAIR { width: 25%; padding-top: 10%; }
#notification_button_CHAIR { width: 25%; padding-top: 10%; }
#log_out_button_CHAIR { width: 25%; padding-top: 10%; }

/* ================== */
/* ADMIN PAGE */
#header-col2-left-gap-ADMIN { width: 18.5%; }
#header-col3-tab-buttons-ADMIN {width: 40%;}
#header-col4-right-gap-ADMIN { width: 14%; }
#header-col5-extra-buttons-ADMIN { width: 15%; }

/* Make each tab button take up an equal portion of the header-col-sub */
/* If we add a button in the future, make the widths equal 100% */
#welcome_button_ADMIN { width: 16.6%; padding-top: 5%; }
#classes_button_ADMIN { width: 16.6%; padding-top: 5%; }
#create_account_button_ADMIN { width: 16.6%; padding-top: 2%; }
#create_course_button_ADMIN { width: 16.6%; padding-top: 2%; }
#add_student_button { width: 16.6%; padding-top: 2%; }
#remove_student_button { width: 16.6%; padding-top: 2%; }

#help_button_ADMIN { width: 25%; padding-top: 10%; }
#account_button_ADMIN { width: 25%; padding-top: 10%; }
#notification_button_ADMIN { width: 25%; padding-top: 10%; }
#log_out_button_ADMIN { width: 25%; padding-top: 10%; }
/* =========================================================================== */
/* =========================================================================== */
/* =========================================================================== */


/* Student Creation Form */
#student_creation_form input,
#student_creation_form select 
{
	width: 90%;
	max-width: 90%;
	padding: 10px;
	margin-bottom: 20px;
	box-sizing: border-box;
}

#student_creation_form label
{
	margin-bottom: 5px;
	font-weight: bold;
}

/*
#student_creation_form input[type="submit"]
{
	width: 90%;
	padding: 10px 20px;
	cursor: pointer;
}
*/

/* Student Removal Form */
#student_removal_form input,
#student_removal_form select 
{
	width: 90%;
	max-width: 90%;
	padding: 10px;
	margin-bottom: 20px;
	box-sizing: border-box;
}

#student_removal_form label
{
	margin-bottom: 5px;
	font-weight: bold;
}

.manual_submission_feedback_container
{
	display: flex;
	align-items: center;
	/*border: 2px solid green;*/
	flex-direction: row;	
	font-family: 'Calibri', sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #2A4C6B;
	align-items: center;
    justify-content: center;
}



/* New Student CSV Stuff */
.upload_new_student_csv_container
{
	display: flex;
	align-items: center;
	/*border: 2px solid green;*/
	flex-direction: row;
}

.new_student_csv_col
{
	display: flex;
	flex-direction: column;
	width: 50%;
	/*border: 2px solid orange;*/
	height: 100%;
}

.new_student_csv_choose_file_button
{
	font-family: 'Calibri', sans-serif;       /* Calibri Font */
	font-weight: bold;                       /* Bold font */
	/*font-size: calc(10% + 0.75vw);*/
	font-size: 16px;
	color: white;
	background-color: #2A4C6B;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	cursor: pointer;
}

.new_student_csv_choose_file_button input[type="file"]
{
	display: none;
}

#new_student_csv_file_name
{
	font-family: 'Calibri', sans-serif;  
	font-weight: bold;      
	font-size: 16px;
	color: #2A4C6B;
	padding: 10px;
}

.new_student_csv_upload_button
{
	font-family: 'Calibri', sans-serif;
	font-weight: bold;  
	font-size: 16px;
	color: white;
	/*background-color: #2A4C6B;*/
	background-color: gray;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	/*cursor: pointer;*/
	cursor: default;
}

#left_new_student_csv_col
{
	width: 15%;
}

#new_student_csv_file_name_col
{
	width: 40%;
}

#new_student_csv_midspace_col
{
	width: 30%;
}

#new_student_csv_feedback_col
{
	width: 100%;
	font-family: 'Calibri', sans-serif;
	font-weight: bold;               
	font-size: 16px;
	color: #2A4C6B;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}

#new_student_csv_upload_col
{
	width: 15%;
}

/* Remove Student Stuff */
.upload_remove_student_csv_container
{
	display: flex;
	align-items: center;
	/*border: 2px solid green;*/
	flex-direction: row;
}

.remove_student_csv_col
{
	display: flex;
	flex-direction: column;
	width: 50%;
	/*border: 2px solid orange;*/
	height: 100%;
}

.remove_student_csv_choose_file_button
{
	font-family: 'Calibri', sans-serif;       /* Calibri Font */
	font-weight: bold;                       /* Bold font */
	/*font-size: calc(10% + 0.75vw);*/
	font-size: 16px;
	color: white;
	background-color: #2A4C6B;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	cursor: pointer;
}

.remove_student_csv_choose_file_button input[type="file"]
{
	display: none;
}

#remove_student_csv_file_name
{
	font-family: 'Calibri', sans-serif;  
	font-weight: bold;      
	font-size: 16px;
	color: #2A4C6B;
	padding: 10px;
}

.remove_student_csv_upload_button
{
	font-family: 'Calibri', sans-serif;
	font-weight: bold;  
	font-size: 16px;
	color: white;
	/*background-color: #2A4C6B;*/
	background-color: gray;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	/*cursor: pointer;*/
	cursor: default;
}

#left_remove_student_csv_col
{
	width: 15%;
}

#remove_student_csv_file_name_col
{
	width: 40%;
}

#remove_student_csv_midspace_col
{
	width: 30%;
}

#remove_student_csv_feedback_col
{
	width: 100%;
	font-family: 'Calibri', sans-serif;
	font-weight: bold;               
	font-size: 16px;
	color: #2A4C6B;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}

#remove_student_csv_upload_col
{
	width: 15%;
}

/* Create Course, New Student, Remove Student, Create Account Page Stuff */
.cc-input-master-container,
.ns-input-master-container,
.rs-input-master-container,
.ca-input-master-container
{
	display: flex;
	width: 100%;
	flex-direction: column;
	/*border: 2px solid green;*/
	position: relative;
	
}

/* Input containers: stack labels and inputs vertically */
.cc-input-container,
.ns-input-container,
.rs-input-container,
.ca-input-container
{
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 0px; /* Space between each label-input pair */
  /*border: 2px solid orange;*/
}

/* Make the text input and the dropdown menus the same size */
/* Gawd dayum this was difficult. By default, <input> is larger than <select>, */
/* and you have to fight God himself in order to force these two input methods have the same appearance. */
.cc-input-container input[type="text"],
.ns-input-container input[type="text"],
.rs-input-container input[type="text"],
.ca-input-container input[type="text"],
.cc-input-container input[type="time"],
.ns-input-container input[type="time"],
.rs-input-container input[type="time"],
.ca-input-container input[type="time"],
.cc-input-container input[type="submit"],
.ns-input-container input[type="submit"],
.rs-input-container input[type="submit"],
.ca-input-container input[type="submit"],
.cc-input-container input[type="reset"],
.ns-input-container input[type="reset"],
.rs-input-container input[type="reset"],
.ca-input-container input[type="reset"],
.cc-input-container select,
.ns-input-container select,
.rs-input-container select,
.ca-input-container select,
.ca-input-container input[type="email"],
.ca-input-container input[type="password"],
.ca-input-container input[type="button"]
{
    height: 40px;
    padding: 8px 10px;
    font-size: 14px; 
    line-height: normal; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin: 0; 
    width: 100%;

}

.cc-form,
.ns-form,
.rs-form,
.ca-form
{
	  display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      font-size: 18px;
      padding: 5px 5px;
}





/* Calendar Stuff */
.calendar-container {
  background: #fff;
  width: 450px;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
  margin: 0 auto;
}

.calendar-container header {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}

header .calendar-navigation {
  display: flex;
}

header .calendar-navigation span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  user-select: none;
  color: #aeabab;
  font-size: 1.9rem;
}

.calendar-navigation span:last-child {
  margin-right: -10px;
}

header .calendar-navigation span:hover {
  background: #f2f2f2;
}

header .calendar-current-date {
  font-weight: 500;
  font-size: 1.45rem;
}

.calendar-body {
  padding: 20px;
}

.calendar-body ul {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
}

.calendar-body .calendar-dates {
  margin-bottom: 20px;
}

.calendar-body li {
  width: calc(100% / 7);
  font-size: 1.07rem;
  color: #414141;
}

.calendar-body .calendar-weekdays li {
  cursor: default;
  font-weight: 500;
}

.calendar-body .calendar-dates li {
  margin-top: 30px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.calendar-dates li.inactive {
  color: #aaa;
}

.calendar-dates li.active {
  color: #fff;
}

.calendar-dates li::before {
  position: absolute;
  content: "";
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.calendar-dates li.active::before {
  background: #6332c5;
}

.calendar-dates li:not(.active):hover::before {
  background: #e4e1e1;
}
